<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

        <hr>
    <div class = 'container'>
        
             <div class = "row">
                <div class = "col-md-4">
                    <a class ="titlebrand">Gallery</a>
                </div>
                <div class = "col-md-4"></div>   
                <div class = "col-md-4">
                    <form role = "search" action = "{% url 'search' %}">
                        <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="basic-addon2" name ="category">
                                <div class="input-group-append">
                                  <button class="input-group-text" id="basic-addon2" type="submit">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                                  </button>
                                </div>
                              </div>
                    </form>
                </div> 
                
             </div>
            
  
    </div>
    <hr class = "top">

   

</body>
</html>