{% extends 'main_templates/base.html' %}
{% block content%}
    <div class="container">
       
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
                <img src="{{ image.image.url}}" class="img img-responsive img-rounded img-thumbnail">                
            </div>
            <div class = "col-md-2"></div>
        </div>
        <div class = "row">
            <div class = "col-md-2"></div>
            <div class = "col-md-8">
                  <div class="panel panel-default">
                    <div class="panel-heading text-capitalize lead  text-center">{{image.image_name}}</div>
                    <div class= "panel-body">
                        <h4 class = "text-center" >Image Description</h4>
                        {{ image.image_description }}
                        <br><br>
                        <p class="badge">Location: <span class="text-capitalize">{{ image.image_location}}</span></p>
                        <p class="badge float-right">Category: <span class="text-capitalize text-bold">{{ image.image_category}}</span></p>
                    </div>
                </div>
            </div>
            <div class = "col-md-2"></div>
            

        </div>
    </div>
{% endblock %}